<section role="search">
    <section id="src-content1" class="src-panel">
        <form action="/search" method="get">
            <label>Name</label>
            <div class="src-simple">
                <input type="text" placeholder="Name" id="name-id" name="id-name" />
            </div>
            <div class="src-submission">
                <button type="submit"><span class="src-src-text">Submit</span></button>
            </div>
        </form>
    </section>
</section>